<nav class="__menu">
    <div class="__wrapper">
        <ul class="__menu-list d-flex justify-content-between mb-0 mt-1">
            <li>
                <a href="/">
                    <i class="fas fa-home"></i>
                    <span href="/">Home</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fas fa-stream"></i>
                    <span href="/">Mylist</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fas fa-plus"></i>
                    <span href="/">New</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fas fa-tag"></i>
                    <span href="/">Label</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="fas fa-history"></i>
                    <span href="/">History</span>
                </a>
            </li>
        </ul>
    </div>
</nav>