  <nav class="navbar navbar-expand-lg __nav">
    <div class="container-fluid d-flex">
      <a class="navbar-brand" href="/">LOGO</a>
      <!-- <div class="d-flex justify-content-end" id="navbarSupportedContent">
        <form class="d-flex">
          <input class="form-control me-2 __search" type="search" placeholder="Quick find" aria-label="Search">
        </form>
      </div> -->
      <div class="nav-item">
        <a href="/signin" class="__text-none __text-white __text-head-min">SignIn</a>
        <a href="/signup" class="__text-none __text-border">
          <button type="button" class="btn __bg-yellow __text-white p-1 __text-head-min">SignUp</button>
        </a>
      </div>
    </div>
  </nav>
