<%- include('partials/header') %> 
<%- include('partials/nav') %> 

    <div class="__wrapper">

        <h1>ayyoo daftarkan dirimu</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora porro qui quas iusto necessitatibus voluptas repellendus ullam, atque illum cupiditate quibusdam aliquam nihil illo. Enim ea accusamus nisi molestias tempora libero blanditiis labore voluptatem! Rerum sunt minima aperiam obcaecati voluptatum?</p>

        <!-- signup -->
        <div class="card shadow __card-sign-in">
            <div class="card-body">
                <form action="">
                    <div class="card-title fs-6 __text-gray">Sig In</div>
                    <div class="mb-3">
                        <label for="username" class="form-label">
                            Username
                            <span class="__required">*</span>
                        </label>
                        <input type="email" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">
                            Password
                            <span class="__required">*</span>
                        </label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <input class="btn btn-primary m-auto d-block btn-warning" type="submit" value="SignIn">
                </form>
            </div>
        </div>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus beatae, eius perferendis illo placeat fugit voluptatum. Delectus laboriosam voluptatibus dicta facere eum aliquam quisquam excepturi? Error, eaque atque, facere aliquam adipisci nesciunt voluptatem, consequatur architecto excepturi maxime corrupti. Fugit, exercitationem?</p>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus impedit voluptatum id beatae ducimus voluptatibus quo alias natus necessitatibus fugiat, distinctio illum culpa magnam, harum rerum sequi dolorum cum itaque.</p>

<%- include('partials/menu') %> 
<%- include('partials/footer') %> 